.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 0;
}

.logo-img {
  height: 82px;
  margin-left: -12px;

}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 150px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #058c42;
}

.auth-group {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.login-link a {
  color: #666;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

.signup-btn {
  background-color: #2d7a2d;
  color: white;
  border: none;
  padding: 6px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}  
/* 드롭다운 메뉴 */
.dropdown {
  position: relative;
}

.dropdown-label {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 8px;
  padding: 0;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  color: #000000;
  text-decoration: none;
  font-size: 0.9rem;
}

.dropdown-menu li a:hover {
  background-color: #f1f8e9;
}

/* 드롭다운 호버 시 메뉴 표시 */
.dropdown:hover .dropdown-menu {
  display: block;
}